* RESEET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #3161E0;
    height: 70px;
    padding: 10px;
    display: flex;
    text-align: center;
}

.container {
    width: 70%;
    max-width: 1100px;
    margin: auto;
}

.yellow-row {
    border: none;
    background-color:  #3161E0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.header-links {
	text-align: center;
	padding: center ;
	margin-top:8px;
    justify-content: space-between;
}

a {
    padding: 10px;
}

.link {
	text-decoration: none;
    color: #dad9d9;
}

.button .link{
	text-decoration: none;
    color: #000000;
}

.bottone {
	background-color: white;
	display: inline-flex;
	align-items: center;
	border-radius: 50%;
	padding-left: 20px;
	padding-right: 20px;
    text-decoration: #000000;

}

/* First Section*/
.first-section {
    background-image:url(../img-discord/jumbo.png);
    background-color:  #3161E0;
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-button {
    background-color: black;
    display: inline-flex;
	align-items: center;
	border-radius: 20px 20px 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.fuchsia-box {
    background-color: none;
    border: none;
    height: 300px;
    width: 700px;
    display: inline-block;
	align-items: center;
	color: white;
	text-align: center;
}
/* /First Section*/

/* Second Section */
.white-section {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-image: url(../img-discord/item1.svg);
    background-size: cover;
	background-position: center ; 
    height: 300px;
    width: 60%;
}

.pink-box {
    background-color:white;
    height: 400px;
    display: inline-block;
    align-items: center;
    width: 40%;
    text-align: top;
}
/* /Second Section */

/* Third Section */
.grey-section {
    background-color: rgb(204, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-box2 {
    background-color: rgb(204, 201, 201);
    height: 400px;
    width: 40%;
    text-align: left;
}

.blue-box2 {
    background-image: url(../img-discord/item2.svg);
    height: 400px;
    width: 60%;
}
/* /Third Section */

/* Fourth Section */
.blue-box3 {
    background-image: url(../img-discord/item3.svg);
    height: 450px;
    width: 100%;
}

.pink-box3 {
    background-color: white;
    height: 400px;
    width: 40%;
    text-align: right;
}
/* Fourth Section */


/* Fifth Section */
.green-box {
    width: 60%;
    height: 800px;
    margin: 30px 0;
    background-position: center;
    text-align: center;

}

/* /Fifth Section */
section {
    padding: 30px 0;
}

/* Sixth Section */
.black-section {
    background-color: rgb(66, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.red-box {
    background-color: rgb(227, 113, 113);
    border: 1px dashed black;
    height: 500px;
    width: 40%;
}

.green-box2 {
    background-color: rgb(29, 215, 215);
    border: 1px dashed white;
    height: 500px;
    width: 15%;
}
/* /Sixth Section */

/* Footer section */
.footer-row {
    background-color: rgb(150, 237, 208);
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    width: 100%;
}
.black-footer {
    background-color:  rgb(66, 65, 65);
    border-top: 1px solid rgb(204, 201, 201);
    border-bottom: 1px solid rgb(204, 201, 201);
}
/* /Footer section */

.red-logo {
    background-color:  rgb(227, 113, 113);
    border: 1px dashed black;
    padding: 10px;
}
.button {
    background-color:  rgb(227, 113, 113);
    border: 1px dashed black;
    padding: 10px;
}